# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri build output
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/WixTools/

# Local env
.env
.env.*
!.env.example
